{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

<aside class="body">
    <table>
        <thead>
            <th>#</th>
            <th>Ссылка на урок</th>
            <th>Содержание урока</th>
            <th>Задачи в Ejudge</th>
        </thead>
        <tbody>
            {% for lesson in articles_page.object_list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{% if lesson.published %}<a href="{{ SITEURL }}/{{ lesson.url }}">{% endif %}
				{{ lesson.title }}
				{% if lesson.published %}</a>{% endif %}</td>
				<td>{{ lesson.summary }}</td>
                <td>{% if lesson.test_link %}<a href="{{ lesson.test_link }}"> Домашняя работа. </a>{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</aside>

{% endblock content %}
